.about {
  background-color:whitesmoke;
  margin-top: 10px;
  padding: 2rem 1rem;
  box-sizing: border-box;
  height: 70vh;
  margin-bottom: 80px;
  

  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: #fff; /* Added background color for better visibility */
    border-radius: 8px;

    .about-image {
      flex: 2; /* Adjust flex value as needed */
      max-width: 30%;
      height: auto; /* Maintain aspect ratio */
      object-fit: cover; /* Ensure the image covers its container */
      margin-left: 5rem;
      border-radius: 8px;
      /* Set a custom height if you know the text height, or adjust as needed */
      min-height: calc(100% - 2rem); /* Adjust this calculation based on the surrounding layout */
      /* Ensure image is slightly larger than text */
    }

    .about-text {
      flex: 2; /* Adjust flex value as needed */
      text-align: left;
      margin: 0 1rem;
      max-width: 50%; /* Adjust max-width if needed */

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #333;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #666;
      }

      p {
        font-size: 1rem;
        margin-bottom: 2rem;
        color: #555;
        line-height: 1.6;
      }
    }
  }

  .about-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    max-width: 100%;
    margin: 0 auto;

    .stat-item {
      text-align: center;
      flex: 1 1 200px;
      margin: 1rem;
      padding: 1rem;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      h4 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #555;
      }
    }
  }

  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      text-align: center;

      .about-image {
        margin-bottom: 1rem;
        width: 100%; /* Ensure image takes full width on smaller screens */
      }

      .about-text {
        margin: 0;
      }
    }

    .about-stats {
      flex-direction: column;

      .stat-item {
        margin-bottom: 1rem;
        flex: 1 1 auto;
      }
    }
  }
}
