.contact-form {
  padding: 4rem 0;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: -70px;

  h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: black;
  }

  form {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .form-group {
      margin-bottom: 1.5rem;
      text-align: left;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #333;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
        color: #333;
        background-color: #f9f9f9;
        transition: border-color 0.3s;

        &:focus {
          border-color: #5a3d99;
          outline: none;
        }
      }
    }

    button {
      background-color: #5a3d99;
      border: none;
      padding: 0.75rem 1.5rem;
      color: white;
      cursor: pointer;
      font-size: 1rem;
      border-radius: 4px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #48327e;
      }
    }
  }

  @media (max-width: 1440px) {
    h2 {
      font-size: 1.75rem;
    }
  }

  @media (max-width: 1200px) {
    h2 {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 1024px) {
    padding: 3rem 1rem;

    h2 {
      font-size: 1.25rem;
    }

    form {
      padding: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 1rem;

    h2 {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

    form {
      padding: 1rem;
    }
  }

  @media (max-width: 576px) {
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    overflow: hidden;

    h2 {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    form {
      padding: 0.75rem;
      width: 100%; /* Ensure the form takes full width */
    }
  }

  @media (max-width: 480px) {
    padding: 1rem 0.5rem;
    margin-top: 1rem;

    h2 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    form {
      padding: 0.5rem;
    }
  }
}
