.navbar {


  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color:rgb(43, 51, 75);
   padding-top: 25PX;
   padding-bottom: 25PX;
   height: 3rem;

    margin: 0 auto;
    padding: 0 2rem;
    position: relative; 

    .logo {
      font-size: 2.5rem;
      font-weight: bold;
      color: rgb(73, 231, 0); 
    }

    .nav-links {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin-left: 2rem;

        a {
          color:white;
          text-decoration: none;
          font-weight: bold;
          font-size: 2REM;
          padding: 0.5rem 1rem;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: #ff6200;
            color: white;
            border-radius: 4px;
          }

          &.active {
            background-color: #ff6200;
            color: white;
            border-radius: 4px;
          }
        }
      }
    }

    .placeholder {
      display: flex;
      align-items: center;
      cursor: pointer;
      color:whitesmoke;
      font-size: 4rem;

      svg {
        margin-left: 1rem;
        vertical-align: middle;
      }

      &:hover {
        color: #ff6200;
      }
    }

    .auth-links {
      position: absolute;
      top: 100%;
      right: 0;
      background-color:whitesmoke;

      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      border: 1px solid #aaa;
      border-radius: 4px;
      z-index: 5;
      visibility: visible; /* Initially hide dropdown */

      li {
        width: 100%;
        text-align: center;

        a {
          display: block;
          padding: 1rem;
          color:White;
          font-size: 1rem;
          text-decoration: none;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: #ff6200;
            color: white;
          }
        }
      }
    }

    .placeholder:hover .auth-links {
      visibility: visible; /* Show dropdown on placeholder hover */
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      .nav-links {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;

        li {
          width: 100%;
          margin: 0;

          a {
            display: block;
            width: 100%;
            padding: 1rem 2rem;

            &:hover, &.active {
              background-color: #ff6200;
              color: white;
              border-radius: 0;
            }
          }
        }
      }

      .auth-links {
        position: static;
        flex-direction: row;
        background-color: transparent;
        border: none;
        margin-top: 1rem;
        visibility: visible; /* Ensure dropdown is visible in mobile mode */

        li {
          margin-left: 1rem;
        }
      }
    }
  }
}
