.our-services {
  padding: 4rem 0;
  background-color: #f9f9f9;
  text-align: center;
  margin-bottom: 15px;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #5a3d99;
    margin-top: 1.5rem;
  }

  .services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;

    .service {
      max-width: 20%;
      text-align: center;
      margin-bottom: 2rem;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 60px;
        height: 60px;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #5a3d99;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }
  }

  @media (max-width: 1440px) {
    h2 {
      font-size: 2.25rem;
    }

    .services .service {
      max-width: 22%;
    }
  }

  @media (max-width: 1200px) {
    h2 {
      font-size: 2rem;
    }

    .services .service {
      max-width: 25%;
    }
  }

  @media (max-width: 1024px) {
    h2 {
      font-size: 2.25rem;
    }

    .services .service {
      max-width: 33.333%;
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 2rem;
    }

    .services .service {
      max-width: 45%;
    }
  }

  @media (max-width: 576px) {
    h2 {
      font-size: 1.75rem;
      margin-bottom: -5px;
      margin-top: 10px;
    }

    .services {
      flex-direction: column;
      align-items: center;

      .service {
        max-width: 90%;
      }
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 1.5rem;
    }

    .services .service {
      max-width: 100%;
    }
  }
}
